.moviebackground {
  position: relative;
  height: 70vh; 
  background-size: cover;
  background-position: center top;
  display: flex;
  align-items: flex-end; 
}

.mbgoverlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100% ;
          height: 100% ;
          background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.95));
          z-index: 1;
}