.viewareacarousel {
  height: auto;
  width: 95%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-bottom: 60px;
}

.track {
  display: flex;
  gap: 25px;
  margin: auto;
}


.card {
  min-width: 240px;
  /* height: 300px; */
  height: 240px;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.movie-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-link {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.08);
}


/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .track {
    gap: 15px;
  }

  .card {
    min-width: 140px;
    height: 180px;
  }

}

/* Small phones */

@media (max-width: 480px) {

  .card {
    min-width: 120px;
    height: 160px;
  }

}